.login-form{
    position: absolute;
    margin: 150px 50px 50px 500px;
    padding: 50px 50px 50px 50px; 
    border: double black 5px; 
    background-color: darksalmon;
}
body{
    background-color: gray;
}
.input-field