ol li{
    font-family: fantasy;
}

#first_paragraph{
    background-color: aqua;
    border: 10px double brown;
}

.paragraph{
    color: brown;
}

.square{
    height: 100;width: 150;
    background-color: black;
    display: block;
}